@model IEnumerable<PinkRoccade.BS.Models.IncidentHistoryModel>
@using PinkRoccade.BS.Classes;
@{
    ViewData["Title"] = "IncidentOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserModel user = SessionHelper.GetObjectFromJson<UserModel>(Html.ViewContext.HttpContext.Session, "_User");
}
<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@*@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}*@

@*@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}*@
</style>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1>IncidentOverview</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IncidentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currentStatus)
            </th>
            @if (user.IsAdmin == true)
            {
                <th>
                    Pas status aan
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IncidentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.currentStatus)
                </td>

                @if (user.IsAdmin == true)
                {
                    <th>

                        <!-- Button to open the modal login form -->
                        <button onclick="document.getElementById('@item.IncidentID').style.display = 'block'">Edit</button>
                        <!-- The Modal -->
                        <div id="@item.IncidentID" class="modal">

                            @using (Html.BeginForm("EditAction", "IncidentOverview", FormMethod.Post))
                            {
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Admin weergave</h5>
                                        <span onclick="document.getElementById('@item.IncidentID').style.display='none'"
                                              class="close" title="Close Modal">&times;</span>
                                    </div>
                                    <form class="modal-content animate">
                                        <input value="@item.IncidentID" type="hidden" name="IncidentID" />
                                        <div class="container">
                                            <label for="status"><b>Huidige status</b></label>
                                            @Html.DropDownList("CurrentStatus", new SelectList(Enum.GetValues(typeof(IncidentHistoryModel.CurrentStatus))),
                                    "pas status aan", new { @class = "form-control" })
                                        </div>
                                        <div class="container">
                                            <label for="description"><b>Beschrijving</b></label>
                                            <div>
                                                <input type="text" placeholder="Voer werkzaamheden in" name="description" class="form-control" required>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" value="Aanpassen" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            }
                        </div>

                    </th>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
