@model IEnumerable<PinkRoccade.BS.Models.IncidentHistoryModel>
@using PinkRoccade.BS.Classes;
@{
    ViewData["Title"] = "IncidentOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserModel user = SessionHelper.GetObjectFromJson<UserModel>(Html.ViewContext.HttpContext.Session, "_User");
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1>IncidentOverview</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IncidentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currentStatus)
            </th>
            <th>
                Set status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IncidentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.currentStatus)
                </td>
                @if (user.IsAdmin == true)
                {
                    <th>
                        <select id="Select1">
                            <option>Open</option>
                            <option>Wordt aan gewerkt</option>
                            <option>Gesloten</option>
                        </select>
                    </th>
                }
            </tr>
        }
    </tbody>
</table>
