<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @RenderSection("header", required: false)
</head>

<body>
    <div class="container-fluid p-0" style="height: calc(100% - 56px);">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">PinkRoccade</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Fout melden", "", "BugReport", null, new { @class = "nav-link" })
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (Html.ViewContext.HttpContext.Session.GetInt32("LoggedIn") != 1)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Index", "Login", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Registreren", "Registration", "Login", null, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Uitloggen", "Logout", "Login", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
